*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url('../assets/back.jpg') no-repeat;
    background-size: cover;
    font-family: 'Scope One', serif;
}

a{
    text-decoration: none;
    color:inherit;
    transition: all 0.2s linear;
    padding: 1px 2px;
    &:hover{
        color:#db3286;
        //color: #fff;
        //background-color: #db3286;
        //box-shadow:0 0 1px 7px rgba(219,50,134, 0.15);
    }
}

.icon{
    display: inline-block;
}

.outer{
    position: fixed;
    video{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right:0;
        top:0;
        z-index: 0;
        bacground-color: #ffffff;
        z-index: -1;
        opacity: 0.4;
    }
}
.profile-photo{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #db3286;
    //animation: 1s infinite alternate glow;
    box-shadow: 0 0 1px 7px rgba(219,50,134, 0.15), 
                0 0 2px 14px rgba(219,50,134, 0.1);
    img{
        display: inline;
        margin: 0 auto;
        //margin-left: -25%; //centers the image
        height: 100%;
        width: auto;
    }
}