*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url('../assets/pattern.png') repeat;
    font-family: 'Scope One', serif;
}

@mixin container{
    width: 90% !important;
    margin:0 auto;
    @media all and (max-width: 768px){
        width:100%;
    }
}
@mixin card{
    display: inline-block;
    max-width: 350px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #494949;
    padding: 16px;
    margin: 10px;
}

@mixin indicator{
    span{
        display: inline-block;
        width:8px;
        height:8px;
        margin-right: 5px;
        padding: 2px;
        border-radius: 100%;
        &.live-indicator{
            background-color:red;
            animation: live 0.8s infinite alternate;
        }   
    }
}

a{
    text-decoration: none;
    color:inherit;
    padding: 1px 2px;
    &:hover{
        background: -webkit-linear-gradient(to right, #f35d18, #db3286);
        background: linear-gradient(to right, #f35d18, #db3286);
        color:transparent;
        background-clip: text;
    }
}

.icon{
    display: inline-block;
}

.loader{
    max-width: 300px;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    img{
        max-width: 150px;
    }
}

.profile-photo{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #db3286;
    //animation: 1s infinite alternate glow;
    box-shadow: 0 0 1px 7px rgba(219,50,134, 0.15), 
                0 0 2px 14px rgba(219,50,134, 0.1);
    img{
        display: inline;
        margin: 0 auto;
        //margin-left: -25%; //centers the image
        height: 100%;
        width: auto;
    }
}

@keyframes live{
    0%{
        box-shadow: 0 0 1px 0 red;
    }
    50%{
        box-shadow: 0 0 2px 0 red;
    }
    100%{
        box-shadow: 0 0 2px 0.5px red;
    }
}