@mixin projects($color, $invColor){
    .projects{
        @include container;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        color:$color;
        .controls{

        }
        .main{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .project{
                width: 350px;
                border-radius: 4px;
                border: 1px solid #d1d5da;
                padding: 16px;
                margin: 10px;
                .title{
                    font-size: 18px;
                    font-weight:600;
                    i{
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
                .description{
                    font-size: 14px;
                    height: 55px;
                    overflow: hidden;
                    margin: 5px auto 10px;
                }
                .language{
                    font-size: 14px;
                    span{
                        display: inline-block;
                        width:8px;
                        height:8px;
                        margin-right: 5px;
                        bordeR:1px solid #invColor;
                        padding: 2px;
                        border-radius: 100%;
                    }
                }
                .topics{
                    display: block;
                    color: #ffffff;
                    .tag{
                        font-size: 10px;
                        display: inline-block;
                        padding:1px 3px;
                        background: rgba($color, 0.5);
                        margin:0 2px 2px 0;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover{
                            font-size: 12px;
                            background: linear-gradient(to right, #f35d18, #db3286);
                        }
                    }
                }
            }
            @media all and (max-width: 768px){
                justify-content: center;
            }
        }
    }
}
