@mixin projects($color, $invColor){
    .projects{
        @include container;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        color:$color;
        .controls{
            > p{
                display: inline;
            }
            .filters{
                display: flex;
                justify-content: center;
                label{
                    font-size: 20px;
                    margin-right: 8px;
                }
                p{
                    padding: 1px 8px;
                    margin: 0 5px 5px 0;
                    box-shadow: 0 0 3px 0 $color;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        .main{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .card{
                @include card;
                box-shadow: 0 0 3px 0 $color;
                .title{
                    font-size: 18px;
                    font-weight:600;
                    i{
                        font-size: 14px;
                        margin-right: 5px;
                    }
                }
                .description{
                    font-size: 14px;
                    height: 55px;
                    overflow: hidden;
                    margin: 5px auto 10px;
                }
                .language{
                    font-size: 14px;
                    display: inline-block;
                    @include indicator;
                }
                .live{
                    font-size: 14px;
                    float: right;
                    @include indicator;
                }
                .topics{
                    display: block;
                    color: #ffffff;
                    .tag{
                        font-size: 10px;
                        display: inline-block;
                        padding:1px 3px;
                        background: rgba($color, 0.5);
                        margin:0 2px 2px 0;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover{
                            font-size: 12px;
                            background: linear-gradient(to right, #f35d18, #db3286);
                        }
                    }
                }
            }
            @media all and (max-width: 768px){
                justify-content: center;
            }
        }
    }
}
