$color : #4c4c4c;
$invColor : #fff;
$darkBck : #000000;


@import 'general';
@import 'header';
@import 'home';
@import 'projects';
@import 'footer';


.app.light{
    @include header($color, $invColor);
    @include home($color, $invColor);
    @include projects($color, $invColor);
    @include footer($color, $invColor);
}
.app.dark{
    @include header($invColor, $color);
    @include home($invColor, $color);
    @include projects($invColor, $color);
    @include footer($invColor, $darkBck);
}