@mixin container{
    width: 90%;
    margin:0 auto;
    @media all and (max-width: 768px){
        width:100%;
    }
}

@import 'header';
@import 'home';
@import 'footer';
@import 'general';


.app.light{
    @include header(#000, #fff);
    @include home(#000, #fff);
    @include footer(#000, #fff);
}
.app.dark{
    @include header(#fff, #000);
    @include home(#fff, #000);
    @include footer(#fff, #000);
}